.field-textbox .size-small {
	height: 11.7em;
}
.field-textbox .size-medium {
	height: 21.3em;
}
.field-textbox .size-large {
	height: 30.9em;
}
.field-textbox .size-huge {
	height: 40.4em;
}
.field-textbox i.invalid {
	color: #d42;
}