[submodule "extensions/export_ensemble"]
	path = extensions/export_ensemble
	url = git://github.com/pointybeard/export_ensemble.git
[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/pointybeard/markdown.git
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/pointybeard/maintenance_mode.git
[submodule "extensions/jit_image_manipulation"]
	path = extensions/jit_image_manipulation
	url = git://github.com/pointybeard/jit_image_manipulation.git
