form .field-upload .label {
	border-bottom: 1px dotted #dddddd;
	border-bottom-color: hsla(0, 0%, 0%, 0.2);
}
form .field-upload .label > a {
	float: right;
}

form .field-upload .file {
	border-top: 1px dotted #dddddd;
	border-top-color: hsla(0, 0%, 0%, 0.2);
	padding: 5px 0;
}

form .field-upload .upload {
	background: #eeeeee;
	border: 1px dotted #dddddd;
	border-color: hsla(0, 0%, 0%, 0.2);
	margin: 0 0 -1px 0;
	padding: 5px;
}

form .field-upload .file > * {
	margin: 0;
	overflow: hidden;
}

form .field-upload .file > dl  {
	color: #888888;
	font-size: 7pt;
	text-transform: uppercase;
}
form .field-upload .file > dl > * {
	float: left;
}
form .field-upload .file > dl > dt {
	margin-right: 1ex;
}
form .field-upload .file > dl > dd {
	margin-right: 1em;
}