.field-join-box {
	background: #fcfcfc;
	border-top: 1px dotted #dddddd;
	border-top-color: hsla(0, 0%, 0%, 0.2);
	padding: 5px 0 0 0;
}

.field-join-box .context-switch {
}

.field-join-box .columns {
	margin: 0;
}