.section-join-box {
	background: #fcfcfc;
	border-top: 1px dotted #dddddd;
	border-top-color: hsla(0, 0%, 0%, 0.2);
	padding: 30px 0 10px 0;
}
.section-join-box:nth-child(2n+1) {
	background: #ffffff;
}
.section-join-box > h2 {
	margin-top: -10px;
	padding-top: 0;
}
.section-join-box .columns {
	margin: 0;
}