/*---------------------------------------------------------------------------------
	Reset
---------------------------------------------------------------------------------*/
	
	* {
		border: none;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: inherit;
		font: inherit;
		line-height: 140%;
		margin: 0;
		outline: none;
		padding: 0;
	}
	body {
		background: hsl(210, 0%, 10%);
		font: normal 8pt/1.6 "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	
	a {
		color: #5072bf;
		cursor: pointer;
		outline: none;
		text-decoration: underline;
	}
	a.active {
		font-weight: bold;
	}
	a:hover {
		color: #000;
	}
	a:active,
	a:focus {
		color: #d42;
	}
	
/*---------------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------------*/
	
	#sidebar {
		background: #ffffff;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-box-shadow: 0 0 40px hsla(0, 0%, 0%, 1);
		-webkit-box-shadow: 0 0 40px hsla(0, 0%, 0%, 1);
		color: #444444;
		left: 20px;
		padding: 0;
		position: fixed;
		right: 20px;
		top: 0;
	}
	#sidebar #tab {
		bottom: 0;
		position: absolute;
		right: 0;
		width: 180px;
	}
	#sidebar.visible #tab {
		display: none;
	}
	#sidebar #tab a {
		background: #ffffff;
		bottom: 0;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
		-webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
		color: #888888;
		display: block;
		font-size: 8pt;
		height: 30px;
		line-height: 30px;
		margin: 0 0 -30px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	#sidebar h1 {
		border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
		display: none;
		font-size: 11pt;
		margin: 20px 20px 0 20px;
		padding: 0 0 6px 0;
	}
	#sidebar.visible h1 {
		display: block;
	}
	
	#sidebar h3 {
		font-weight: bold;
		margin: 10px 0;
	}
	
	#sidebar ul {
		list-style: none;
		margin: 10px 0;
	}
	#sidebar ul ul {
		margin: 0 0 0 10px;
	}
	#sidebar ul ul li:before {
		content: '· ';
	}
	
	#sidebar .menu {
		display: none;
		margin: 0;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	#sidebar.visible .menu {
		display: block;
	}
	#sidebar .menu li {
		line-height: 15pt;
		float: left;
	}
	#sidebar .menu li:after {
		content: '·';
		margin: 0 1ex;
	}
	#sidebar .menu li:last-child:after {
		content: '';
		margin: 0;
	}
	
	#sidebar fieldset {
		display: none;
		float: left;
		min-height: 100%;
		margin: 20px 0 20px 20px;
		width: 200px;
	}
	#sidebar.visible fieldset {
		display: block;
	}
	#sidebar fieldset > :first-child {
		margin-top: 0;
	}
	#sidebar fieldset > :last-child {
		margin-bottom: 0;
	}
	
/*---------------------------------------------------------------------------------
	Content
---------------------------------------------------------------------------------*/
	
	#content {
		background: hsl(210, 0%, 10%);
		min-height: 100%;
		padding: 50px 20px 20px 20px;
	}
	#content iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	/* TODO: Rename to #search */
	#input {
		background: hsl(0, 0%, 100%);
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
		-webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
		color: hsl(0, 0%, 20%);
		display: block;
		height: 30px;
		font: 105% monospace;
		left: 20px;
		padding: 0 10px;
		position: fixed;
		right: 220px;
		top: 0;
	}
	#input input {
		background: transparent;
		display: block;
		line-height: 30px;
		width: 100%;
	}
	
/*-------------------------------------------------------------------------------*/