/*---------------------------------------------------------------------------------
	Reset
---------------------------------------------------------------------------------*/
	
	* {
		border: none;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: inherit;
		font: inherit;
		line-height: 140%;
		margin: 0;
		outline: none;
		padding: 0;
	}
	body {
		background: hsl(210, 0%, 10%);
		font: 80% sans-serif;
		overflow: hidden;
	}
	
	a {
		color: hsl(210, 0%, 70%);
		text-decoration: none;
		text-shadow: 2px 2px 3px hsl(210, 0%, 5%);
	}
	a:hover {
		color: hsl(210, 0%, 90%);
	}
	
/*---------------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------------*/
	
	#sidebar {
		background: hsl(210, 0%, 2%);
		border-left: 1px solid hsl(210, 0%, 30%);
		bottom: 0;
		color: #ffffff;
		padding: 20px;
		position: absolute;
		text-shadow: 2px 2px 3px hsl(210, 0%, 5%);
		right: 0;
		top: 0;
		width: 270px;
	}
	#sidebar,
	#sidebar * {
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	#sidebar h1 {
		font-size: 120%;
		margin: 0;
	}
	#sidebar h1 a {
		color: #ffffff;
	}
	#sidebar #navigation {
		margin: 5px 0 0 0;
	}
	#sidebar #navigation li {
		display: inline;
		margin: 0 0.5em 0 0;
	}
	#sidebar #jump {
		float: left;
		list-style: none;
		margin: 20px 0 0 -20px;
		overflow: hidden;
		width: 269px;
	}
	#sidebar #jump ul {
		font-size: 90%;
		list-style: none;
		padding: 0 0 0 10px;
	}
	#sidebar #jump ul ul {
		font-size: 100%;
	}
	#sidebar #jump a {
		display: block;
		margin: 0 0 0 -240px;
		padding: 5px 10px 5px 260px;
	}
	#sidebar #jump a:hover {
		background: hsla(210, 0%, 25%, 0.2);
	}
	#sidebar #jump a.active {
		background: hsla(210, 0%, 25%, 0.3);
		color: hsl(210, 5%, 100%);
	}
	
/*---------------------------------------------------------------------------------
	Content
---------------------------------------------------------------------------------*/
	
	#content {
		background: hsl(210, 0%, 10%);
		bottom: 0;
		left: 0;
		position: absolute;
		overflow: auto;
		right: 270px;
		top: 0;
	}
	
	
	
	
	
	#sidebar {
		background: hsla(0, 0%, 5%, 0.8);
		border: none;
		-webkit-box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.2);
		position: fixed;
	}
	
	#input,
	#content {
		right: 0 !important;
	}
	
	body {
		overflow: auto;
	}
	
	#content {
		position: relative;
	}
	
/*-------------------------------------------------------------------------------*/