/*---------------------------------------------------------------------------------
	Reset
---------------------------------------------------------------------------------*/
	
	* {
		border: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: inherit;
		font: inherit;
		line-height: 140%;
		margin: 0;
		outline: none;
		padding: 0;
	}
	body {
		background: hsl(210, 0%, 10%);
		font: normal 8pt/1.6 "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	
	a {
		color: #5072bf;
		cursor: pointer;
		outline: none;
		text-decoration: underline;
	}
	a.active {
		font-weight: bold;
	}
	a:hover {
		color: #000;
	}
	a:active,
	a:focus {
		color: #d42;
	}
	
/*---------------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------------*/
	
	#sidebar {
		background: #ffffff;
		-moz-box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.3);
		-webkit-box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.3);
		bottom: 0;
		color: #444444;
		padding: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 220px;
	}
	
	#sidebar h1 {
		font-size: 11pt;
		margin: 15px 20px 0 20px;
	}
	
	#sidebar h3 {
		font-weight: bold;
		margin: 10px 0;
	}
	
	#sidebar ul {
		list-style: none;
		margin: 10px 0;
	}
	#sidebar ul ul {
		margin: 0 0 0 10px;
	}
	#sidebar ul ul li:before {
		content: '· ';
	}
	
	#sidebar .menu {
		border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
		display: block;
		margin: 0 20px;
		padding: 0 0 6px 0;
		overflow: hidden;
	}
	#sidebar .menu li {
		line-height: 15pt;
		float: left;
	}
	#sidebar .menu li:after {
		content: '·';
		margin: 0 1ex;
	}
	#sidebar .menu li:last-child:after {
		content: '';
		margin: 0;
	}
	
	#sidebar fieldset {
		margin: 20px;
	}
	#sidebar fieldset > :first-child {
		margin-top: 0;
	}
	#sidebar fieldset > :last-child {
		margin-bottom: 0;
	}
	
/*---------------------------------------------------------------------------------
	Content
---------------------------------------------------------------------------------*/
	
	#content {
		background: hsl(210, 0%, 10%);
		min-height: 100%;
		padding: 20px;
	}
	#content iframe {
		background: #ffffff;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
/*-------------------------------------------------------------------------------*/