/*-----------------------------------------------------------------------------
	Duplicator plugin
-----------------------------------------------------------------------------*/
	
	.duplicator-widget {
		background: #eeeeee;
		border: 1px solid #bbbbbb;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 10px 0;
		position: relative;
	}	
	.duplicator-widget > .content {
		display: table;
		border-spacing: 0;
		height: 35px;
		table-layout: fixed;
		vertical-align: top;
		width: 100%;
	}
	.duplicator-widget > .content > * {
		display: table-cell;
		vertical-align: top;
	}

	.duplicator-widget > .content > .tabs {
		background: #cccccc;
		background: -moz-linear-gradient(left, #cccccc 97%, #bbbbbb);
		background: -webkit-gradient(
			linear, left top, right top,
			from(#cccccc),
			to(#bbbbbb),
			color-stop(0.97, #cccccc)
		);
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		list-style: none;
		padding: 20px 0;
		min-width: 130px;
		width: 20%;
	}
	.duplicator-widget > .content > .tabs > * {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		color: #444444;
		display: block;
		line-height: 35px;
		overflow: hidden;
		position: relative;
		text-indent: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.duplicator-widget > .content > .tabs > * em {
		margin: 0 0 0 1ex;
		opacity: 0.5;
	}
	.duplicator-widget > .content > .tabs > :first-child {
		border-top: 1px solid hsla(0, 0%, 0%, 0.1);
	}
	.duplicator-widget > .content > .tabs > :hover {
		background: hsla(0, 0%, 100%, 0.2);
	}
	.duplicator-widget > .content > .tabs > .active {
		background: #eeeeee;
		border-color: #aaaaaa;
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		color: #000000;
		padding: 0 1px 0 0;
		text-indent: 20px;
		width: 100%;
	}
	.duplicator-widget > .content > .tabs > .active + .active {
		border-top: 1px solid #cccccc;
		margin-top: -1px;
		position: relative;
	}
	.duplicator-widget > .content > .tabs > .ordering {
		font-weight: bold;
	}
	.duplicator-widget > .content > .tabs > * > .remove {
		background: hsla(0, 0%, 0%, 0.3);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: #ffffff;
		display: block;
		font-weight: bold;
		height: 15px;
		line-height: 14px;
		position: absolute;
		right: 10px;
		text-align: center;
		text-decoration: none;
		text-indent: 1px;
		top: 10px;
		visibility: hidden;
		width: 15px;
	}
	.duplicator-widget > .content > .tabs > :hover > .remove {
		visibility: visible;
	}
	.duplicator-widget > .content > .tabs > .active > .remove {
		right: 11px;
	}
	.duplicator-widget > .content > .tabs > * > .remove:hover {
		background: hsla(0, 0%, 0%, 0.5);
	}
	
	.duplicator-widget > .content > .instances {
		background: #eeeeee;
		border-left: 1px solid #aaaaaa;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		list-style: none;
	}
	.duplicator-widget > .content > .instances > * {
		display: none;
		padding: 20px;
		width: 100%;
	}
	.duplicator-widget > .content > .instances > .active {
		display: block;
	}
	.duplicator-widget > .content > .instances > .active + .active,
	.duplicator-widget > .content > .instances > .active ~ .active {
		border-top: 1px solid #cccccc;
	}
	
	.duplicator-widget > .controls {
		background: -moz-linear-gradient(top, hsl(0, 0%, 77%), hsl(0, 0%, 72%));
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(hsl(0, 0%, 77%)),
			to(hsl(0, 0%, 72%))
		);
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
		border-top: 1px solid hsl(0, 0%, 85%);
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		height: 35px;
		line-height: 33px;
		position: relative;
	}
	.duplicator-widget > .controls a {
		bottom: 0;
		color: #444444;
		cursor: pointer;
		position: absolute;
		top: 0;
		text-decoration: none;
	}
	.duplicator-widget > .controls a:hover {
		color: #000000;
	}
	.duplicator-widget > .controls a.disabled {
		color: #888888;
		cursor: default;
	}
	.duplicator-widget > .controls .add {
		left: 20px;
	}
	.duplicator-widget > .controls .add:after {
		content: '+';
		margin: 0 0 0 10px;
	}
	.duplicator-widget > .controls .add.visible:after {
		content: '-';
	}
	.duplicator-widget > .controls .remove {
		right: 20px;
	}
	
/*-----------------------------------------------------------------------------
	Duplicator: Templates
-----------------------------------------------------------------------------*/

	.duplicator-widget > .templates {
		display: none;
		background: #888888;
		background: -moz-linear-gradient(#666666, #777777 4%, #666666);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#666666),
			to(#666666),
			color-stop(0.04, #777777)
		);
		border: 1px solid #777777;
		border-bottom-color: #606060;
		border-top-color: #606060;
		list-style: none;
		margin: 0 -1px;
		overflow: hidden;
		padding: 10px;
	}
	.duplicator-widget > .templates > li {
		background: hsla(0, 0%, 0%, 0.15);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		cursor: pointer;
		display: block;
		float: left;
		margin: 4px;
		width: 160px;
		white-space: nowrap;
	}
	.duplicator-widget > .templates > li > * {
		display: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.duplicator-widget > .templates > li:hover {
		background: hsla(0, 0%, 0%, 0.25);
	}
	.duplicator-widget > .templates > li > .name {
		cursor: pointer;
		display: block;
		line-height: 26px;
		padding: 0 10px;
		color: #eeeeee;
	}
	.duplicator-widget > .templates > li > .name em {
		margin: 0 0 0 1ex;
		opacity: 0.5;
	}

/*-------------------------------------------------------------------------------*/