/* @group Layout */
	
	.layout-widget {
		background: #eeeeee;
		border: 1px solid #bbbbbb;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 20px 0;
		padding: 0;
		position: relative;
	}
	.layout-widget .size-small {
		-moz-box-flex: 1;
		-webkit-box-flex: 1;
	}
	.layout-widget .size-medium {
		-moz-box-flex: 2;
		-webkit-box-flex: 2;
	}
	.layout-widget .size-large {
		-moz-box-flex: 4;
		-webkit-box-flex: 4;
	}
	.layout-widget > .templates {
		display: none;
	}
	
	/* @group Controls */
		
		.layout-widget > .controls {
			background: -moz-linear-gradient(top, hsl(0, 0%, 77%), hsl(0, 0%, 72%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 77%)),
				to(hsl(0, 0%, 72%))
			);
			border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
			border-top: 1px solid hsl(0, 0%, 85%);
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			height: 35px;
			line-height: 33px;
			position: relative;
		}
		.layout-widget > .controls a {
			bottom: 0;
			color: #444444;
			cursor: pointer;
			position: absolute;
			top: 0;
			text-decoration: none;
		}
		.layout-widget > .controls a:hover {
			color: #000000;
		}
		.layout-widget > .controls a.disabled {
			color: #888888;
			cursor: default;
		}
		.layout-widget > .controls .choose {
			left: 20px;
		}
		.layout-widget > .controls .choose:after {
			content: '+';
			margin: 0 0 0 10px;
		}
		.layout-widget > .controls .choose.visible:after {
			content: '-';
		}
		.layout-widget > .controls .clear {
			right: 20px;
		}
		
	/* @end */
	
	/* @group Menu */
		
		.layout-widget > .menu {
			background: hsl(0, 0%, 20%);
			background: -moz-linear-gradient(hsl(0, 0%, 25%), hsl(0, 0%, 15%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 25%)),
				to(hsl(0, 0%, 15%))
			);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			color: #ffffff;
			position: absolute;
			padding: 1px;
			z-index: 1;
			
			top: 139px;
			left: 194px;
		}
		.layout-widget > .menu ol {
			border: 1px solid hsla(0, 0%, 100%, 0.2);
			list-style: none;
		}
		.layout-widget > .menu ol + ol {
			border-top: none;
		}
		.layout-widget > .menu ol:first-child {
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
		}
		.layout-widget > .menu ol:last-child {
			-moz-border-radius-bottomleft: 4px;
			-moz-border-radius-bottomright: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
		}
		.layout-widget > .menu ol li {
			line-height: 23px;
			padding: 0 30px 0 10px;
		}
		.layout-widget > .menu ol li:hover {
			background: hsla(0, 0%, 100%, 0.1);
		}
		
	/* @end */
	
	/* @group Columns */
		
		.layout-widget > .columns {
			display: -moz-box;
			display: -webkit-box;
			list-style: none;
			width: 100%;
		}
		.layout-widget > .columns > li {
			overflow: hidden;
			padding: 20px 20px 0 20px !important;
		}
		.layout-widget > .columns > li > fieldset > .fields {
			list-style: none;
		}
		.layout-widget > .columns > li > fieldset > .fields > *,
		.layout-widget > .columns > li > fieldset > .controls > * {
			background: hsl(0, 0%, 20%);
			background: -moz-linear-gradient(hsl(0, 0%, 25%), hsl(0, 0%, 15%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 25%)),
				to(hsl(0, 0%, 15%))
			);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #ffffff;
			display: block;
			margin: 10px 0;
			padding: 1px;
			position: relative;
		}
		.layout-widget > .columns > li > fieldset > .fields > * > span,
		.layout-widget > .columns > li > fieldset > .controls > * > span {
			background: hsla(0, 0%, 100%, 0.1);
			border: 1px solid hsla(0, 0%, 100%, 0.1);
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			display: block;
			line-height: 23px;
			margin: 0;
			padding: 0 10px;
		}
		.layout-widget > .columns > li > fieldset > .fields > :hover,
		.layout-widget > .columns > li > fieldset > .controls > :hover {
			background: hsl(0, 0%, 23%);
			background: -moz-linear-gradient(hsl(0, 0%, 28%), hsl(0, 0%, 18%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 28%)),
				to(hsl(0, 0%, 18%))
			);
		}
		.layout-widget > .columns > li > fieldset > .fields > :hover > span,
		.layout-widget > .columns > li > fieldset > .controls > :hover > span {
			border-color: hsla(0, 0%, 100%, 0.2);
		}
		
		.layout-widget > .columns > li > fieldset > .fields > * > .name {
			padding: 0 35px 0 10px;
		}
		.layout-widget > .columns > li > fieldset > .fields > * .remove {
			background: hsla(0, 0%, 100%, 0.05);
			border-left: 1px solid hsla(0, 0%, 100%, 0.05);
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			bottom: 0;
			color: #ffffff;
			line-height: 25px;
			padding: 0 10px;
			position: absolute;
			right: 0;
			text-align: center;
			text-decoration: none;
			top: 0;
		}
		.layout-widget > .columns > li > fieldset > .fields > * .remove:hover {
			background: hsla(0, 0%, 100%, 0.1);
			border-color: hsla(0, 0%, 100%, 0.1);
		}
		
		.layout-widget > .columns > li > fieldset > .controls {
			margin: 0;
			float: right;
			list-style: none;
		}
		.layout-widget > .columns > li > fieldset > .controls > * {
			float: left;
			margin: 0 0 0 10px;
		}
		.layout-widget > .columns > li > fieldset > .controls > .disabled {
			display: none;
		}
		
	/* @end */
	
	/* @group Layouts */
		
		.layout-widget > .layouts {
			background: #888888;
			background: -moz-linear-gradient(#666666, #777777 4%, #888888, #777777 96%, #666666);background: -webkit-gradient(
				linear, left top, left bottom,
				from(#666666),
				to(#666666),
				color-stop(0.04, #777777),
				color-stop(0.5, #888888),
				color-stop(0.96, #777777)
			);
			border: 1px solid #666666;
			border-bottom-color: #555555;
			border-top-color: #555555;
			list-style: none;
			margin: 0 -1px;
			overflow: hidden;
			padding: 10px;
		}
		.layout-widget > .layouts li {
			background: hsla(0, 0%, 0%, 0.05);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
			float: left;
			margin: 5px;
			padding: 2px;
		}
		.layout-widget > .layouts li.active {
			background: hsla(0, 0%, 0%, 0.2);
		}
		.layout-widget > .layouts li:hover {
			background: hsla(0, 0%, 0%, 0.2);
		}
		.layout-widget > .layouts li > div {
			cursor: pointer;
			display: -moz-box;
			display: -webkit-box;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			-moz-box-pack: justify;
			-webkit-box-pack: justify;
			height: 58px;
			width: 110px;
		}
		.layout-widget > .layouts li > div > * {
			cursor: pointer;
			padding: 2px !important;
		}
		.layout-widget > .layouts li > div > * > * {
			background: #eeeeee;
			background: -moz-linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.7));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsla(0, 0%, 100%, 0.9)),
				to(hsla(0, 0%, 100%, 0.7))
			);
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-moz-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
			color: hsla(0, 0%, 0%, 0.2);
			cursor: pointer;
			display: block;
			font-size: 7pt;
			height: 54px;
			line-height: 54px;
			text-align: center;
			text-transform: uppercase;
		}
		.layout-widget > .layouts li:hover > div > * > *,
		.layout-widget > .layouts li.active > div > * > * {
			background: #ffffff;
			background: -moz-linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.9));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsla(0, 0%, 100%, 1)),
				to(hsla(0, 0%, 100%, 0.9))
			);
			-moz-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
			-webkit-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
		}
		
	/* @end */
	
/* @end */

/* @group Layout */
	/*
	.layout {
		background: #eeeeee;
		border: 1px solid #cccccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		display: -moz-box;
		display: -webkit-box;
		margin: 15px 0;
		width: 100%;
	}
	.layout:last-child {
		margin-bottom: 0;
	}
	.layout > .content {
		padding: 20px;
	}
	.layout > .settings {
		background: -moz-linear-gradient(left, #cccccc, #dddddd 5px);
		background: -webkit-gradient(linear, left top, 3 top, from(#cccccc), to(#dddddd));
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		padding: 20px;
		width: 300px;
	}
	.layout > .content {
		-moz-box-flex: 1;
		-webkit-box-flex: 1;
		min-width: 300px;
	}
	*/
	/* @group Menu */
		/*
		.layout > .menu {
			background: hsla(0, 0%, 20%, 0.95);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.5);
			-webkit-box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.5);
			color: #ffffff;
			cursor: default;
			display: none;
			padding: 1px 0;
			position: absolute;
			z-index: 4;
		}
		.layout > .menu ol + ol {
			border-top: 1px solid hsla(0, 0%, 100%, 0.2);
		}
		.layout > .menu ol li {
			border: 1px solid hsla(0, 0%, 100%, 0.2);
			border-bottom: none;
			border-top: none;
			display: block;
			height: 23px;
			line-height: 21px;
			margin: 0 1px;
			padding: 0 10px;
		}
		.layout > .menu ol li:hover {
			background: hsla(0, 0%, 100%, 0.1);
		}
		.layout > .menu ol:first-child li:first-child {
			border-top: 1px solid hsla(0, 0%, 100%, 0.2);
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
		}
		.layout > .menu ol:last-child li:last-child {
			border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
		}
		.layout > .menu .settings {
			display: none;
		}
		*/
	/* @end */
	
	/* @group Fieldsets */
		/*
		.layout {
			cursor: default;
		}
		.layout > .content > .fieldset {
			border-top: 1px dotted #dddddd;
			display: -moz-box;
			display: -webkit-box;
			-moz-box-orient: vertical;
			-webkit-box-orient: vertical;
			padding: 10px 0 0 0;
			width: 100%;
		}
		.layout > .content > .fieldset:first-child {
			border-top: none;
			padding-top: 0
		}
		.layout > .content > .fieldset + .fieldset {
			margin-top: 10px;
		}
		.layout > .content > .fieldset .settings {
			display: none;
		}
		
		.layout > .content > .fieldset .line {
			display: -moz-grid-line;
			display: -webkit-box;
			height: 25px;
			line-height: 23px;
			list-style: none;
			margin: 0 0 10px 0;
			position: relative;
			width: 100%;
		}
		.layout > .content > .fieldset .line li {
			background: hsla(0, 0%, 0%, 0.8);
			background: -moz-linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.7));
			background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.6)), to(hsla(0, 0%, 0%, 0.7)));
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #ffffff;
			height: 25px;
			margin: 0 0 0 10px;
			position: relative;
		}
		.layout > .content > .fieldset .line li.control {
			background: -moz-linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.8));
			background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.7)), to(hsla(0, 0%, 0%, 0.8)));
			width: 25px;
		}
		.layout > .content > .fieldset .line li.control.dropdown {
			margin-left: 0;
		}
		.layout > .content > .fieldset .line li.selected {
			background: hsla(210, 60%, 40%, 0.9);
			background: -moz-linear-gradient(hsla(210, 60%, 40%, 0.7), hsla(210, 60%, 40%, 0.9));
			background: -webkit-gradient(linear, left top, left bottom, from(hsla(210, 60%, 40%, 0.7)), to(hsla(210, 60%, 40%, 0.9)));
			-moz-box-shadow: 0 0 100px hsla(0, 0%, 100%, 0.5);
			-webkit-box-shadow: 0 0 100px hsla(0, 0%, 100%, 0.5);
			z-index: 2;
		}
		.layout > .content > .fieldset .line li span {
			left: 10px;
			position: absolute;
			top: 0;
		}
		*/
		/* @group Title */
			/*
			.layout > .content > .fieldset .line li .title {
				border: 1px solid hsla(0, 0%, 100%, 0.1);
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				display: block;
				height: 23px;
				left: 1px;
				line-height: 21px;
				padding: 0 10px;
				position: absolute;
				right: 1px;
				top: 1px;
			}
			.layout > .content > .fieldset .line li.control .title {
				padding: 0;
				text-align: center;
			}
			.layout > .content > .fieldset .line li:hover .title {
				border: 1px solid hsla(0, 0%, 100%, 0.2);
				-moz-box-shadow: 1px 1px 4px hsla(0, 0%, 50%, 0.5);
				-webkit-box-shadow: 1px 1px 4px hsla(0, 0%, 50%, 0.5);
			}
			*/
		/* @end */
		
		/* @group Remove */
			/*
			.layout > .content > .fieldset .line li .remove-field {
				background: hsla(0, 0%, 100%, 0.05);
				border-left: 1px solid hsla(0, 0%, 100%, 0.05);
				left: auto;
				right: 0;
				text-align: center;
				top: 0;
				width: 25px;
			}
			.layout > .content > .fieldset .line li .remove-field:hover {
				background: hsla(0, 0%, 100%, 0.15);
			}
			*/
		/* @end */
		
		/* @ Sorting */
			/*
			.layout > .content > .fieldset .line.ui-sortable-highlight {
				background: hsla(0, 0%, 0%, 0.06);
				background: -moz-linear-gradient(hsla(210, 0%, 0%, 0.09), hsla(210, 0%, 0%, 0.04));
				background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.09)), to(hsla(0, 0%, 0%, 0.04)));
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				height: 25px;
			}
			
			.layout > .content > .fieldset .line li.ui-sortable-highlight,
			.layout > .content > .fieldset .line:nth-child(2n) li.ui-sortable-highlight {
				background: hsla(0, 0%, 0%, 0.06);
				background: -moz-linear-gradient(hsla(210, 0%, 0%, 0.09), hsla(210, 0%, 0%, 0.04));
				background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.09)), to(hsla(0, 0%, 0%, 0.04)));
			}
			
			.layout > .content > .fieldset .line li.ui-sortable-helper {
				background: hsla(0, 0%, 0%, 0.8);
				background: -moz-linear-gradient(hsla(210, 0%, 0%, 0.7), hsla(210, 0%, 0%, 0.8));
				background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.7)), to(hsla(0, 0%, 0%, 0.8)));
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				cursor: default;
				opacity: 1;
			}
			.layout > .content > .fieldset .line li.ui-sortable-helper .title {
				border: 1px solid hsla(0, 0%, 100%, 0.2);
				-moz-box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.5);
				-webkit-box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.5);
			}
			*/
		/* @end */
		
	/* @end */
	
/* @end */