/*-----------------------------------------------------------------------------
	Duplicator plugin
-----------------------------------------------------------------------------*/
	
	.duplicator-widget {
		margin: 10px 0 0 0;
		position: relative;
	}
	
/*-----------------------------------------------------------------------------
	Duplicator: Controls
-----------------------------------------------------------------------------*/
	
	.duplicator-widget > .controls {
		background: #666666;
		background: -moz-linear-gradient(#666666, #555555);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#666666),
			to(#555555)
		);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		height: 35px;
		line-height: 33px;
		list-style: none;
		position: relative;
	}
	.duplicator-widget.templates-visible > .controls,
	.duplicator-widget.content-visible > .controls {
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
	}
	.duplicator-widget > .controls li {
		bottom: 0;
		color: #cccccc;
		cursor: pointer;
		position: absolute;
		top: 0;
		text-decoration: none;
	}
	.duplicator-widget > .controls li:hover {
		color: #eeeeee;
	}
	.duplicator-widget > .controls li.disabled {
		color: #aaaaaa;
		cursor: default;
	}
	.duplicator-widget > .controls .add {
		left: 20px;
	}
	.duplicator-widget > .controls .add:after {
		content: '+';
		margin: 0 0 0 10px;
	}
	.duplicator-widget.templates-visible > .controls .add:after {
		content: '-';
	}
	.duplicator-widget > .controls .remove {
		right: 20px;
	}
	
/*-----------------------------------------------------------------------------
	Duplicator: Templates
-----------------------------------------------------------------------------*/
	
	.duplicator-widget > .templates {
		display: none;
		background: #666666;
		background: -moz-linear-gradient(#777777, #555555);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#777777),
			to(#555555)
		);
		border: 1px solid #555555;
		border-top-color: #888888;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		list-style: none;
		overflow: hidden;
		padding: 10px;
		position: relative;
	}
	.duplicator-widget.templates-visible > .templates {
		display: block;
	}
	.duplicator-widget.content-visible > .templates {
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
	}
	.duplicator-widget > .templates > li {
		background: hsla(0, 0%, 0%, 0.15);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		cursor: pointer;
		display: block;
		float: left;
		margin: 4px;
		width: 160px;
		white-space: nowrap;
	}
	.duplicator-widget > .templates > li > * {
		display: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.duplicator-widget > .templates > li:hover {
		background: hsla(0, 0%, 0%, 0.25);
	}
	.duplicator-widget > .templates > li > .name {
		cursor: pointer;
		display: block;
		line-height: 26px;
		padding: 0 10px;
		color: #eeeeee;
	}
	.duplicator-widget > .templates > li > .name em {
		margin: 0 0 0 1ex;
		opacity: 0.5;
	}
	
/*-----------------------------------------------------------------------------
	Duplicator: Lower
-----------------------------------------------------------------------------*/
	
	.duplicator-widget > .content {
		background: #eeeeee;
		border: 1px solid #bbbbbb;
		border-top: none;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		display: none;
		border-spacing: 0;
		overflow: hidden;
		table-layout: fixed;
		width: 100%;
		
		background: #666666;
		background: -moz-linear-gradient(#555555, #666666);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#555555),
			to(#666666)
		);
		border: 1px solid #555555;
		border-top: none;
		padding: 0 10px 10px 10px;
	}
	.duplicator-widget.content-visible > .content {
		display: table;
	}
	.duplicator-widget > .content > * {
		display: table-cell;
		vertical-align: top;
	}
	
	.duplicator-widget > .content > .tabs {
		background: #cccccc;
		background: -moz-linear-gradient(left, #cccccc 97%, #bbbbbb);
		background: -webkit-gradient(
			linear, left top, right top,
			from(#cccccc),
			to(#bbbbbb),
			color-stop(0.97, #cccccc)
		);
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		list-style: none;
		min-width: 130px;
		padding: 0;
		width: 20%;
		
		background: transparent;
	}
	.duplicator-widget > .content > .tabs:empty {
		border: none;
	}
	.duplicator-widget > .content > .tabs > * {
		background: hsla(0, 0%, 100%, 0.7);
		background: -moz-linear-gradient(left, #cccccc, #bbbbbb 98%, #aaaaaa);
		background: -webkit-gradient(
			linear, left top, right top,
			from(#cccccc),
			to(#aaaaaa),
			color-stop(0.98, #bbbbbb)
		);
		border: none;
		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-topleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		color: #444444;
		display: block;
		line-height: 30px;
		margin: 4px 0;
		overflow: hidden;
		position: relative;
		text-indent: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.duplicator-widget > .content > .tabs > :hover,
	.duplicator-widget > .content > .tabs > .active {
		background: #eeeeee;
		background: -moz-linear-gradient(left, #ffffff, #eeeeee);
		background: -webkit-gradient(
			linear, left top, right top,
			from(#ffffff),
			to(#eeeeee)
		);
	}
	.duplicator-widget > .content > .tabs > .ordering {
		font-weight: bold;
	}
	.duplicator-widget > .content > .tabs > * em {
		margin: 0 0 0 1ex;
		opacity: 0.5;
	}
	.duplicator-widget > .content > .tabs > * .remove {
		background: hsla(0, 0%, 0%, 0.3);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: #ffffff;
		display: block;
		font-weight: bold;
		height: 15px;
		line-height: 14px;
		position: absolute;
		right: 10px;
		text-align: center;
		text-decoration: none;
		text-indent: 1px;
		top: 7px;
		visibility: hidden;
		width: 15px;
	}
	.duplicator-widget > .content > .tabs > * .remove:hover {
		background: hsla(0, 0%, 0%, 0.5);
	}
	.duplicator-widget > .content > .tabs > :hover .remove {
		visibility: visible;
	}
	
	.duplicator-widget > .content > .instances {
		background: #eeeeee;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.5);
		list-style: none;
	}
	.duplicator-widget > .content > .instances > * {
		display: none;
		padding: 20px;
		width: 100%;
	}
	.duplicator-widget > .content > .instances > .active {
		display: block;
	}
	.duplicator-widget > .content > .instances > .active + .active,
	.duplicator-widget > .content > .instances > .active ~ .active {
		border-top: 1px solid #cccccc;
	}
	
/*-------------------------------------------------------------------------------*/