/* @group Layout */
	
	.layout-widget {
		background: #eeeeee;
		border: 1px solid #bbbbbb;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 20px 0;
		padding: 0;
		position: relative;
	}
	.layout-widget .size-small {
		-moz-box-flex: 1;
		-webkit-box-flex: 1;
	}
	.layout-widget .size-medium {
		-moz-box-flex: 2;
		-webkit-box-flex: 2;
	}
	.layout-widget .size-large {
		-moz-box-flex: 4;
		-webkit-box-flex: 4;
	}
	.layout-widget > .templates {
		display: none;
	}
	
	/* @group Controls */
		
		.layout-widget > .controls {
			background: -moz-linear-gradient(top, hsl(0, 0%, 77%), hsl(0, 0%, 72%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 77%)),
				to(hsl(0, 0%, 72%))
			);
			border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
			border-top: 1px solid hsl(0, 0%, 85%);
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			height: 35px;
			line-height: 33px;
			position: relative;
		}
		.layout-widget > .controls a {
			bottom: 0;
			color: #444444;
			cursor: pointer;
			position: absolute;
			top: 0;
			text-decoration: none;
		}
		.layout-widget > .controls a:hover {
			color: #000000;
		}
		.layout-widget > .controls a.disabled {
			color: #888888;
			cursor: default;
		}
		.layout-widget > .controls .choose {
			left: 20px;
		}
		.layout-widget > .controls .choose:after {
			content: '+';
			margin: 0 0 0 10px;
		}
		.layout-widget > .controls .choose.visible:after {
			content: '-';
		}
		.layout-widget > .controls .clear {
			right: 20px;
		}
		
	/* @end */
	
	/* @group Menu */
		
		.layout-widget > .menu {
			background: hsl(0, 0%, 20%);
			background: -moz-linear-gradient(hsl(0, 0%, 25%), hsl(0, 0%, 15%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 25%)),
				to(hsl(0, 0%, 15%))
			);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			color: #ffffff;
			position: absolute;
			padding: 1px;
			z-index: 1;
			top: 139px;
			left: 194px;
		}
		.layout-widget > .menu ol {
			border: 1px solid hsla(0, 0%, 100%, 0.2);
			list-style: none;
		}
		.layout-widget > .menu ol + ol {
			border-top: none;
		}
		.layout-widget > .menu ol:first-child {
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
		}
		.layout-widget > .menu ol:last-child {
			-moz-border-radius-bottomleft: 4px;
			-moz-border-radius-bottomright: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
		}
		.layout-widget > .menu ol li {
			line-height: 23px;
			padding: 0 30px 0 10px;
		}
		.layout-widget > .menu ol li:hover {
			background: hsla(0, 0%, 100%, 0.1);
		}
		
	/* @end */
	
	/* @group Columns */
		
		.layout-widget > .columns {
			display: -moz-box;
			display: -webkit-box;
			list-style: none;
			width: 100%;
		}
		.layout-widget > .columns > li {
			-webkit-margin-bottom-collapse: separate;
			padding: 20px 20px 0 20px !important;
		}
		.layout-widget > .columns > li > fieldset > .fields > *,
		.layout-widget > .columns > li > fieldset > .controls > * {
			background: hsl(0, 0%, 20%);
			background: -moz-linear-gradient(hsl(0, 0%, 25%), hsl(0, 0%, 15%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 25%)),
				to(hsl(0, 0%, 15%))
			);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #ffffff;
			display: block;
			margin: 10px 0;
			padding: 1px;
			position: relative;
		}
		.layout-widget > .columns > li > fieldset > .fields > * > span,
		.layout-widget > .columns > li > fieldset > .controls > * > span {
			background: hsla(0, 0%, 100%, 0.1);
			border: 1px solid hsla(0, 0%, 100%, 0.1);
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			display: block;
			line-height: 23px;
			margin: 0;
			padding: 0 10px;
		}
		.layout-widget > .columns > li > fieldset > .fields > :hover,
		.layout-widget > .columns > li > fieldset > .controls > :hover {
			background: hsl(0, 0%, 23%);
			background: -moz-linear-gradient(hsl(0, 0%, 28%), hsl(0, 0%, 18%));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsl(0, 0%, 28%)),
				to(hsl(0, 0%, 18%))
			);
			-moz-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.2);
		}
		.layout-widget > .columns > li > fieldset > .fields > :hover > span,
		.layout-widget > .columns > li > fieldset > .controls > :hover > span {
			border-color: hsla(0, 0%, 100%, 0.2);
		}
		
		.layout-widget > .columns > li > fieldset > .fields {
			list-style: none;
			margin: -20px 0;
			min-height: 47px;
			padding: 10px 0;
		}
		
		.layout-widget > .columns > li > fieldset > .fields > .ui-sortable-helper {
			-moz-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
			opacity: 0.9;
		}
		.layout-widget > .columns > li > fieldset > .fields > .ui-sortable-highlight {
			background: hsla(0, 0%, 0%, 0.1);
			height: 27px;
		}
		
		.layout-widget > .columns > li > fieldset > .fields > * > .name {
			padding: 0 35px 0 10px;
		}
		.layout-widget > .columns > li > fieldset > .fields > * .remove {
			background: hsla(0, 0%, 100%, 0.05);
			border-left: 1px solid hsla(0, 0%, 100%, 0.05);
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			bottom: 0;
			color: #ffffff;
			line-height: 25px;
			padding: 0 10px;
			position: absolute;
			right: 0;
			text-align: center;
			text-decoration: none;
			top: 0;
		}
		.layout-widget > .columns > li > fieldset > .fields > * .remove:hover {
			background: hsla(0, 0%, 100%, 0.1);
			border-color: hsla(0, 0%, 100%, 0.1);
		}
		
		.layout-widget > .columns > li > fieldset > .controls {
			margin: 0;
			list-style: none;
		}
		.layout-widget > .columns > li > fieldset > .controls > * {
			float: left;
		}
		.layout-widget > .columns > li > fieldset > .controls > .disabled {
			display: none;
		}
		.layout-widget > .columns > li > fieldset > .controls > .remove {
			float: right;
		}
		
	/* @end */
	
	/* @group Layouts */
		
		.layout-widget > .layouts {
			background: #888888;
			background: -moz-linear-gradient(#666666, #777777 4%, #888888, #777777 96%, #666666);background: -webkit-gradient(
				linear, left top, left bottom,
				from(#666666),
				to(#666666),
				color-stop(0.04, #777777),
				color-stop(0.5, #888888),
				color-stop(0.96, #777777)
			);
			border: 1px solid #666666;
			border-bottom-color: #555555;
			border-top-color: #555555;
			list-style: none;
			margin: 0 -1px;
			overflow: hidden;
			padding: 10px;
		}
		.layout-widget > .layouts li {
			background: hsla(0, 0%, 0%, 0.1);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
			float: left;
			margin: 5px;
			padding: 2px;
		}
		.layout-widget > .layouts li.active,
		.layout-widget > .layouts li:hover {
			background: hsla(0, 0%, 0%, 0.2);
		}
		.layout-widget > .layouts li > div {
			cursor: pointer;
			display: -moz-box;
			display: -webkit-box;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			-moz-box-pack: justify;
			-webkit-box-pack: justify;
			height: 58px;
			width: 110px;
		}
		.layout-widget > .layouts li > div > * {
			cursor: pointer;
			padding: 2px !important;
		}
		.layout-widget > .layouts li > div > * > * {
			background: #eeeeee;
			background: -moz-linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.7));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsla(0, 0%, 100%, 0.9)),
				to(hsla(0, 0%, 100%, 0.7))
			);
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-moz-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
			-webkit-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
			color: hsla(0, 0%, 0%, 0.2);
			cursor: pointer;
			display: block;
			font-size: 7pt;
			height: 54px;
			line-height: 54px;
			text-align: center;
			text-transform: uppercase;
		}
		.layout-widget > .layouts li:hover > div > * > *,
		.layout-widget > .layouts li.active > div > * > * {
			background: #ffffff;
			background: -moz-linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.9));
			background: -webkit-gradient(
				linear, left top, left bottom,
				from(hsla(0, 0%, 100%, 1)),
				to(hsla(0, 0%, 100%, 0.9))
			);
			-moz-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
			-webkit-box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
		}
		
	/* @end */
	
/* @end */